.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.ImgContainer {
  margin: 8px;
  list-style: none;
}

/* .App img {
  width: max-content;
  display: block;
} */
